body{
    margin: 0px;
    padding: 0px;
}

.header {
    height: 50px;
    background-color: #66D9EF;
    overflow: hidden;
}

.header a {
    padding: 1% 2%;
    float: left;
    display: flex;
    text-decoration: none;
    font-size: 17px;
}

.header a:hover {
    background-color: #ddd;
}

.header input {
  float: right;
  padding: 0.5%;
  border: none;
  margin-top: 1vh;
  margin-right: 8vw;
  font-size: 17px;
}

.content1{
    background-color: blueviolet;
    min-height: 130vh;
    margin-top: 5px;
}

.sidenav {
    height: 130vh;
    width: 10vw;
    float: left;
    
    background-color: lemonchiffon;
    padding-top: 20px;
  }
  
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  

.footer{
    margin-top: 5px;
    background-color: blanchedalmond;
    height: 20vh;
}
