body{
	background-color: white;
	margin: 0px;
}

#header{
	background-color: white;
	display: flex;
	justify-content: space-around;
	line-height: 80px;

}

#header a{
	text-align: center;
}


#header a:hover {
  color: orange;
 }

#body1{
	text-align: center;
}

div .card{

	position: relative;
	left: 20vw;
	top:15vh;
	z-index: 1;
	width: 35vw;
	height: 15em;
	overflow: hidden;
	background-color: white;
	border-radius: 20px;
	background-color:#FFDD00;

}


#body2{
	background-color: white;
	width: 100%;
	text-align: center;
	margin-top: 3%;
}

.product{
	color: rgba(0,0,0,0.5);
    border-radius: 5px;
    display: inline-flex;
    margin: 40px;
    position: relative;
    border: 1px solid  orange;
    }

.product .price{
	color: rgba(0,0,0,0.5);
      height: 20px;
      width: 150px;
      position:absolute; 
      bottom: 1px;
      text-align: center;
      background-color: white;
    }
.title, a img{    	
	color: rgba(0,0,0,0.5);
    position: absolute;
    display: inline-flex;
    color: rgba(0,0,0,0.5);
}

a img{
	right: 1px;
}



@media  (max-width: 1000px) {
	#header img{
		display: none;
	}
	#header a{
		font-size: 40px;
	}

	.card{

	}

	.product{
		display: block;
		font-size: 30px;
	}

	.product .price{
		bottom: 70px;
	}

	.product .title{
		top: 70px;
	}

	.feedbacks{
		height: 5vh;
		width: 20vw;
	}


	.fb img{
		display: none;
	}

	.footer{
	height: 10vh;
	}


	.production{
		display: block;

	}

	
}



.feedback{
	text-align: center;
	background-color: #F6F6F6;
}



.feedbacks{
	background-color: white;
	width: 15vw;
	height:20vh;
	overflow: hidden;
	position: relative;
}


.marg{
	margin-top: 3%;
}

input {
  float: right;
  padding: 5px;
  /*border: none;*/
  margin-top: 40px;
  margin-right: 15px;
  font-size: 20px;
  width: 70%;

}

